.usersPage {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 8px;
    background-color: #080808;
    overflow: hidden;
}
.usersPage button {
    margin-left: 10px;
    border: none;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 8px;
    color: black;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 0, 0.5);
    vertical-align: center;
}

.user img {
    display: block;
    border: 1px solid yellow;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.userInfo {
    margin-left: 10px;
}