.message {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 10px;
	align-items: center;
	border-radius: 10px;
	transition: .2s ease-in-out;
	color: #777
}

.message:hover {
	background: rgba(255, 255, 255, 0.1);
}

.message img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 1px solid #777;
	margin-right: 10px;
}