.messages, .sendMessageArea {
    padding: 10px;
    width: 90%;
    color: yellow;
    background-color: #353232;
    border-radius: 8px;
}

.messages {
    grid-area: messages;
    height: 80%;
}

.sendMessageArea {
    grid-area: sendMessageArea;
    height: 75px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sendMessageArea textarea {
    vertical-align: middle;
    width: 780px;
    line-height: 50px;
    height: 50px;
    border: 1px solid yellow;
    background-color: #353232;
    border-radius: 8px;
    color: yellow;
    font-size: 16px;
    resize: none;
}

.sendMessageArea button {
    margin-left: 10px;
    border: 1px solid yellow;
    background-color: #353232;
    border-radius: 8px;
    color: black;
    width: 100px;
    height: 55px;
    cursor: pointer;
}