.messages {
    height: 500px;
    padding: 10px;
    color: yellowgreen;
    background-color: #353232;
}

.sendMessageArea {
    width: 100%;
    display: flex;
    justify-content: center;
}

textarea {
    width: 900px;
    height: 100px;
    background-color: #000;
    border: 1px solid yellow;
    color: yellowgreen;
    font-size: 16px;
}

button {
    background-color: #000;
    color: yellow;
    height: 100px;
    width: 100px;
}