/*Dialogs Item*/
.dialogsItem {
	display: flex;
	width: 100%;
	height: 80px;
	padding: 10px;
	align-items: center;
	border-radius: 10px;
	transition: .2s ease-in-out;
}

.dialogsItem:hover {
	background: rgba(255, 255, 255, 0.1);
}

.dialogsItem img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 1px solid #777;
	margin-right: 10px;
}

.dialogsItem a {
	width: 100%;
	display: flex;
	align-items: center;
	color: #777;
}