/*App-wrapper ====================*/

.app-wrapper {
	display: grid;
	grid-template: 80px 1fr/ 2fr 10fr;
	grid-template-areas: 'header header'
										'nav app-content';
	min-height: 100vh;
	padding: 10px;
	grid-gap: 20px;
}

.app-content {
	grid-area: app-content;
}