/*Dialogs*/
.dialogs {
	display: grid;
	grid-template-columns: 3fr 9fr;
	grid-column-gap: 20px;
}

.dialogsItems, .messages {
	display: flex;
	flex-direction: column;
	background: #111;
	border-radius: 10px;
	height: 80vh;
}

/*New Message*/
.newMessage {
	display: flex;
	background: #111;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.newMessage form {
	display: flex;
	align-items: center;
}

.newMessage textarea, button {
	height: 40px;
	background: #222;
	padding: 10px;
	border-radius: 10px;
	border: none;
	outline: none;
}

.newMessage textarea {
	resize: none;
	margin-right: 10px;
	width: calc(100% - 120px);
	color: #fff;
	transition: .5s ease-in-out;
}

.newMessage textarea:focus {
	background: rgba(255, 255, 255, 0.2);
}

.newMessage button {
	width: 120px;
	transition: .5s ease-in-out;
	cursor: pointer;
	color: #777;
}

.newMessage button:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}




