/*Navigation*/
.nav {
	grid-area: nav;
	padding: 10px;
}

.navList {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.navItem {
	height: 60px;
	transition: .2s ease-in-out;
}

.navItem:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

.navItem a {
	line-height: 60px;
	width: 100%;
	color: #777;
	padding-left: 10px;
}


